.header_navbar {
  background-color: #1f2833;
  color: #ffffff;
  font-size: 1.5rem;
}

.header_navbar_brand,
.header_navbar_brand:hover {
  color: #ffffff;
  font-size: 2rem;
}

.header_navbar_links {
  color: #ffffff;
}

.header_navbar_links:hover {
  color: #66fcf1;
  cursor: pointer;
}
