.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f2833;
  color: #3fe4d9;
}

.spinner {
  height: 6rem;
  width: 6rem;
}

.spinner_even {
  border-width: 10px;
}
